/* A no frills css reset. :) */
*{
    margin: 0;
    padding: 0;
}

html, body{
     height: 100vh;
    /* flex-direction: column; */
}

.wrapper{
    display:flex;
    /* height: 100vh; */

    flex-direction: column;
    /* flex-grow: 1; */
    
    

}

/* --Nav Bar-- */
nav {
    display: flex;
    /* margin-top: auto; */
    background-color: #1f2937;
    /* padding: 20px; */
    font-family: heebo;
    font-size: 18px;
    /* padding: 0px 150px; */
    /* margin: 0 auto; */
    /* width: 900px;    */
    justify-content: center;
}

.link-container {
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    width: 900px;
    background-color: lime;
}

.right-nav-links {
  margin-left: auto;
  background-color: lightgrey;
}

.left-nav-links {
    /* margin-left: auto; */
    background-color: hotpink;
  }


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
  } 

  a{
      text-decoration: none;
      color: #e5e7eb;
  }

/* HEADER SECTION */
.header-container {
    background-color: #1f2937;
    background-color: darkgrey;
    
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    /* padding: 0px 150px; */
    gap: 40px;
    justify-content: center;
       

}
.header-info-container{
    color: #f9fafb;
    flex: 0 0 400px; 
    display: flex;
    flex-direction: column;
    font-family: Heebo;
    background-color: darkmagenta;
}

.header-img-container{ 
   flex: 0 0 450px;
   /* margin-left: auto; */
   justify-content: center;
   background-color: coral;
   padding: 2px;
   
}

.header-image{
    max-width: 100%;

}

.button{

}

.header-info-container, h1{
    
    font-size: 48px;
    font-weight: 800;
    
}

.header-info-container, h2{
    font-size: 18px;
    
}


/* -- INFO SECTION--*/

.info-section{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
    align-items: center;
    

}

.info-section-title {
    font-family: heebo;
    display:flex;
}

.info-section-gallery{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    /* gap: 20px; */
    /* flex: 0 0 400px;  */
    /* width: 900px; */
}

/* this contains an image and <p> text*/
.info-section-image-box {
    flex: 0 0 150px;  
}

.info-section-img{
    width: 100%;
}

/* -- TESTIMONIAL SECTION */
.testimonial-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
     
}

.testimonial-author-container{
    color: #f9fafb;
    display: flex;
    flex-direction: column;
    font-family: Heebo;
    /* background-color: darkmagenta; */
    width: 900px;
    /* align-items: center; */
}

.testimonal-text{
    display: flex;
    /* background-color: darkgreen; */
    justify-content: flex-start;
    padding-left: 100px;
    /* align-items: center; */
    
   
}

.testimonial-author{
    display: flex;
    /* background-color: rgb(230, 114, 36); */
    justify-content: flex-end;
    padding-right: 100px;
    /* align-items: center; */  
    
}



.action-section{
    background-color: purple;
    display: flex;
    /* flex: 0 0 150px; */
}


/* test footer/navbar */
.footer {
    display: flex;
    /* margin-top: auto; */
    background-color: salmon;
    /* padding: 0px 150px; */
  }
  
  

