

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');


*{
    margin: 0px;
    padding: 0px;

  }
 
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    
  }
.check{
  width: 100%;
  background-color: red;
}

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    font-family: Montserrat, sans-serif;
    
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  /* -- NAV BAR -- */

.nav-section-wrapper {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    width: 100%;
    /* padding-left:30px;
    padding-right:30px; */
    
}

.link-container {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    flex: 1 1 900px;
    max-width: 900px;
    margin-bottom: 4rem;
    align-items: center;
    margin-top: 1rem;
    padding: 0rem 4rem;
}

.right-nav-links {
  margin-left: auto;
  min-width: 226px;
  
}

.left-nav-links {
  min-width: 248px;
  }


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
  } 

  a{
      text-decoration: none;
      color: #e5e7eb;
  }

  /* -- HEADER SECTION -- */

.header-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  background-color: #1f2937;
  margin-bottom: 3rem;
    
}

.header-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;      
}


.header-info-container{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 500px;       
  color: #f9fafb;
}

.header-hero-secondary-text {
  margin-bottom: 1rem;
}

.header-img-container{ 
   justify-content: center;
   align-items: center;
   flex: 0 0 350px;   
}

.header-image{
    width: 100%;
}

.hero-button {
  background-color: #3882f6;
  width: 80px;
  padding: .5rem 0rem;
  color: white;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  }



/* -- INFO SECTION -- */


.info-section-wrapper {  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.5rem;
}

.info-section-title { 
    display:flex;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 4rem;  
}

.info-section-gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 80px;
    justify-content: center;
    font-weight: 600;
}

.info-section-image-box {
    
    display: flex;
    flex-direction: column;
    flex: 1 2 auto;
    max-width: 150px;
    text-align: center;
       
}

.info-section-img {
    max-width: 100%;
    border-radius: 10%;
    border: 3px solid#3882f6;
    margin-bottom: .5rem; 
    
       
} 

  
  /* -- TESTIMONIAL SECTION -- */

  .testimonial-section-wrapper {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    margin-bottom: 3rem;   
}

.testimonial-wrapper{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.testimonial-text, 
.testimonial-author {
  max-width: 900px;

}

p.testimonial-author:last-child {
  margin-bottom: 0rem;
}

/* -- CALL TO ACTION SECTION -- */

.callToAction-section-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 3rem;

}

.callToAction-box {
  flex: 0 2 800px;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  gap: 30ppx;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 30px;
  flex-wrap: wrap;
  gap: 60px;
  min-width: 469px;
  
}

.callToAction-box-left-text {
  display: flex;
  flex-direction: column;
  flex: 0 1 500px;
  color: #e5e7eb;
}

.callToAction-content-1{
margin-bottom: .5rem;
font-weight: 700;
}


.callToAction-box-right-button {
  background-color: #3882f6;
  height: 30px;
  min-width:100px;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-weight: 300;
  padding: 0px 20px;
   
}
  

/* -- FOOTER -- */

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 20px 0px; 
  font-size: .75rem;
}


/* -- CALL TO ACTION SECTION -- */




.action-box-right-button {
  background-color: #3882f6;
  padding: .5rem 1rem;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-weight: bold;
  }



/* -- FONT SETTINGS -- */


.header-hero-main-text {
font-weight: 700;
font-size: 3rem;
margin-bottom: .5rem;

}
.header-hero-secondary-text, .right-nav-links {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.75;
}

.header-logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}


.info-section-title {
  font-weight: 600;
  font-size: 2.25rem;
}

.testimonial-text {
  font-weight: 300;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.7;
  max-width: 65ch;  
  
}

.testimonial-author {
  font-size: 1.5;
  font-weight: 700;
  display: flex;
  margin-bottom: 2rem;
 
}






  
 
  
  
  
  
 

  

  
  
  