/* @import url('https://fonts.googleapis.com/css2?family=Heebo:ital,wght@0,200..900;1,200..900'); */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik,wght@0,200..900'); */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
  }

  html {
    
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    font-family: Montserrat, sans-serif;
    
  }

  
  
  /* OTHER CSS */

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  /* --Nav Bar-- */

nav {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    width: 100%;
    padding-left:30px;
    padding-right:30px;
    
}

.link-container {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    flex: 1 1 900px;
    max-width: 900px;
    margin-bottom: 4rem;
    align-items: center;
    margin-top: 1rem;
}

.right-nav-links {
  margin-left: auto;
  min-width: 226px;
  
}

.left-nav-links {
  min-width: 248px;
  }


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
  } 

  a{
      text-decoration: none;
      color: #e5e7eb;
  }

  /* HEADER SECTION */

.header-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  background-color: #1f2937;
    
}

.header-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;   
    
}


.header-info-container{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 500px;       
  color: #f9fafb;
}

.hero-secondary-text {
  margin-bottom: 1rem;
}

.header-img-container{ 
   justify-content: center;
   align-items: center;
   flex: 0 0 350px;
    
}

.header-image{
    width: 100%;
}



/* -- INFO SECTION--*/


.info-section {  
    /* background-color: tan; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* max-width: 900px; */
    /* flex: 1; */
    align-items: center;
    

}

.info-section-title {
    /* background-color: yellow; */
    font-family: heebo;
    display:flex;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 4rem;
    
}

.info-section-gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 80px;
    justify-content: center;
    font-weight: 600;
}

/* this contains an image and <p> text*/
.info-section-image-box {
    
    display: flex;
    flex-direction: column;
    flex: 1 2 auto;
    max-width: 150px;
    text-align: center;
    
}

.info-section-img {
    max-width: 100%;
    border-radius: 10%;
    border: 3px solid#3882f6;
    margin-bottom: .5rem;
    
} 

  
  /* -- TESTIMONIAL SECTION -- */

  .testimonial-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;   
}

.testimonial-wrapper{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.testimonial-text, 
.testimonial-author {
  max-width: 900px;

}

/* -- CALL TO ACTION SECTION */

.action-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 100px;

}

.action-box {
  flex: 0 2 800px;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  gap: 30ppx;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 30px;
  flex-wrap: wrap;
  gap: 60px;
  min-width: 469px;
  
}

.action-box-left-text {
  display: flex;
  flex-direction: column;
  
  flex: 0 1 500px;
  color: #e5e7eb;
}

.call-to-action-1{
margin-bottom: .5rem;
font-weight: 700;
}


.action-box-right-button {
  background-color: #3882f6;
  height: 30px;
  min-width:100px;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-weight: 300;
  padding: 0px 20px;
   
}
  

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 20px 0px; 
  font-size: .75rem;


}


/* -- SHARED BOTTOM MARGIN */
  
.header-section, 
.testimonial-section,
.action-section {
  margin-bottom: 3rem;

}

.info-section {
  margin-bottom: 6.5rem;
}


/* -- FONT SETTINGS */


.hero-main-text {
/* font-family: 'Montserrat', sans-serif; */
font-weight: 700;
font-size: 3rem;
margin-bottom: .5rem;

}
.hero-secondary-text, .right-nav-links{
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.75;
}

.header-logo-text {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.info-section-title {
  font-weight: 600;
  font-size: 2.25rem;
}

.testimonial-text {
  font-weight: 300;
  font-size: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  line-height: 1.7;
  max-width: 65ch;

  
  
}

.testimonial-author {
  font-family: Montserrat, sans-serif;
  font-size: 1.5;
  font-weight: bold;
  display: flex;
  margin: 0 0 2rem 0;
 

}

p.testimonial-author:last-child {
  margin-bottom: 0rem;
}

  
  
/* -- Buttons */

.hero-button {
background-color: #3882f6;
width: 80px;
height: 30px;
color: white;
border-radius: 7px;
border: none;
font-weight: bold;
}
 
  
  
  
  
 

  

  
  
  